doctype html

html(lang="en")

  head
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    style
      | [data-elm-hot] { height: 100% } 

  body
    div#app-container
    script(async="yes" src='index.coffee')
